# binary
mcproxy-bin

# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#qmake
mcproxy/Makefile
mcproxy/mcproxy
mcproxy/tester
debug/tester/tester
docs/html

#editor
*.~
*.swp
*.orig
*.log
*.pyc
*.vim

#cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
